MONGODB_URI=mongodb+srv://username:password@example.mongodb.net/
MONGODB_DATABASE=console_bank_app
APP_ADMIN_USERNAME=admin
APP_ADMIN_PASSWORD=replace-me
APP_JWT_SECRET=replace-with-a-random-secret-containing-at-least-32-bytes
APP_JWT_ISSUER=console-bank-app
APP_JWT_TTL=PT15M
